body{
  /* background-color: rgb(255,128,170); */
}
#s{
  box-shadow: 10px 10px 5px #696969	;
}
#i{
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter;
  font-size: 50px;
  margin:0px;
  padding: 0px;
  border: 0px;
  float:left;
  color: white;
}
/* .contents-title {
    font-size: 110px;
    line-height: 96px;
    letter-spacing: -0.03em;
} */
#pink{
background-color:#fc8b94;
/* padding:0px;
border:0px; */
}
#orange{
  background-color: #ff6699;
}
/* #light{
background-color: rgb(255,128,170);
padding:0px;
border:0px;
} */

div{
  padding: 0px;
  border:0px;
}
h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
}
h3{
  color: white;
  font-weight: 100;
}
#B{
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Homenaje', sans-serif;
}
.favorite{
  color: #ef3ee6;
}
/* h2{
  font-family: arial, serif;
  font-family: 'Coiny', cursive;
} */
#line {
  font-family: 'Merienda', cursive;
  /* font-family: 'Six Caps', sans-serif; */
  border:10px solid purple;
  margin-left:10%;
  margin-right:10%;

}

.fav{
  border:10px solid purple;
  margin-left:10%;
  margin-right: 10%;
}
/* img {
  padding:20px 20px 20px 20px;
  border: 1px red;
} */
.fav{
  border:10px solid purple;
  margin-left":10%;
  margin-right:10%;
}
#this {
  border-top: 20px solid purple;
  margin-left: 10%;
  margin-right: 10%;
}
p{
  font-family: 'Merienda', cursive;
}
#nav{
  font-size: 30px;
  /*background-color: rgb(255,128,170) */
}
body {margin:0;}

.icon-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  position:fixed;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: grey;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

/* .active {
  background-color: #4CAF50;
} */
